<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/registration.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <title>Login</title>
<body>
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form action="/login" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" name="email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name="password" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Login">
        </div>
        <div>
            <h4>Don't have an account? <a class="nav-link text-white" href="/register">Register</a></h4>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
